/* Styles for small screens */
@media (max-width: 768px) {
	.char-img {
		height:30%;
		width: 30%;
	}

	.hint-section {
		margin-top: 50px;
	}
	#top {
		margin-top: 18em;
	}

}

/* Styles for medium screens */
@media (min-width: 768px) {
	.char-img {
		height: 100%;
		width: 100%;
	}

	.hint-section {
		margin-top: 100px;
	}
	#top {
		margin-top: 2.5em;
	}
}

/* Styles for large screens */
@media (min-width: 1200px) {
	.char-img {
		height: 100%;
		width: 100%;
	}

	.hint-section{
		margin-top:  100px;
	}

	.nav-buttons p {
		font-size: 2rem;
		margin-bottom: 15px;
	}
}

body {
	padding-bottom: 70px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-content {
	margin-top: 55px;
}

.title {
	font-size: 5rem;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}

#choose-holder {
	text-align: center;
}

#aria-loading {
	display: none;
}

.char-img {
	border: 2px solid black;
	border-radius: 50%;
}

#desc {
	display: none;
}

.hint {
	letter-spacing: 2px;
	font-size: 4rem;
}

.hint-section {
	text-align: center;
}

.img-holder {
	text-align: center;
}

.guess-section {
	text-align: center;
}

#guess-letter, .submit {
	height: 100px;
	font-size: 2rem;
	padding: 10px;
	text-align: center;
}

#win-msg {
	font-size: 3rem;
	color: green;
}

#win-msg-holder {
	text-align: center;
}

#invalid {
	color: red;
}

.input-form {
	margin-top: 40%;
	text-align: center;
}

.loading-icon {
	position: relative;
	top: 50%;
	transform: translateY(80%);
	text-align: center;
}

.load {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
	-webkit-transform: rotate(360deg);
	transform:rotate(360deg); 
} 

.nav-buttons p {
	display: inline-block;
}

table.leader-table tr:hover th {
	cursor: pointer;
}

