/* Styles for small screens */
@media (max-width: 768px) {
}

/* Styles for medium screens */
@media (min-width: 768px) {
}

/* Styles for large screens */
@media (min-width: 1200px) {
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-content {
	margin-top: 55px;
}

#choose-title {
	font-size: 5rem;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#choose-holder {
	text-align: center;
}
