<div class="container">

<form name="changeAccountForm" novalidate ng-controller="AccountCtrl">

	<!-- Bind model "handle" to this input -->
	<div class="form-group">
        <label for="currhandle">Enter Your User Name:</label>
		<input id="currhandle" name="currhandle" class="form-control" ng-model="currentUser.currhandle" ng-minlength="3" required>

		<label for="newhandle">Change User Name:</label>
		<input id="newhandle" name="newhandle" class="form-control" ng-model="changeUser.newhandle" ng-minlength="3"  required>
		<!-- Show error messages if the length is too short -->	
		<p class="help-block" ng-if="changeAccountForm.newhandle.$error.minlength">Too short!</p>
	</div>	

	<!-- Bind model "email" to this input -->
	<div class="form-group">
        <label for="curremail">Enter Your Email:</label>
		<input id="curremail" name="curremail" class="form-control" ng-model="currentUser.curremail" required>

		<label for="email">Change Email:</label>
		<input type="email" id="email" name="email" class="form-control" ng-model="changeUser.email" required>
		<!-- Show error messages if the email is not valid -->	
		<p class="help-block" ng-if="changeAccountForm.email.$error.email">Not an email!</p>
	</div>

	<!-- Bind model "password" to this input -->
	<div class="form-group">
        <label for="currpw">Enter Your Password:</label>
		<input id="currpw" name="currpassword" type="password" class="form-control" ng-model="currentUser.currpassword" ng-minlength="6" required>

		<label for="pw">Change Password:</label>
		<input id="pw" name="password" type="password" class="form-control" ng-model="changeUser.password" ng-minlength="6" required>
		<!-- Show error messages if the password is invalid -->	
		<p class="help-block" ng-if="changeAccountForm.password.$error.minlength">Must be at least 6 characters.</p>
	</div>

	<!-- Submit buttons -->
	<div class="form-group">
		<button type="submit" class="btn btn-primary" ng-click="changeAccount()" ng-disabled="changeAccountForm.$invalid" >Update</button> 
	</div>
</form>
<div ng-controller="CameraCtrl" style="position:relative">
    <h1>Character Photobooth</h1>
    <p class="lead">Take a selfie!</p>
    <div class="controls">
        <button id="record" type="button" class="btn btn-default">Record</button>
        <button id="stop" type="button" class="btn btn-default">Stop</button>
        <button id="selfie" type="button" class="btn btn-default">Selfie!</button>
        <button id="save" type="button" class="btn btn-default">Save Selfie</button>
		<form class= 'maskChoice'>
			<input type="radio" name="mask" value="iron" checked> IronMan
			<input type="radio" name="mask" value="bat"> BatMan
		</form>
    </div>
	
	<video autoplay></video>
	<img id="mask" width="125" height="130" src="" alt="Mask">
	<canvas></canvas>

</div>
</div>