	<div class="navbar-wrapper">
	<nav role="navigation" class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand active" href="#">Home</a>
    	</div>
		<ul class="list-unstyled list-inline nav navbar-nav"">
			<li ng-model="cards"><a href="partials/cards.html">My Cards</a></li>
			<li ng-model="details"><a href="partials/details.html">Details</a></li>
			<li ng-model="game"><a href="partials/game.html">Game</a></li>
			<li ng-model="leaderboards"><a href="partials/leaderboards.html">Leaderboards</a></li>
			<li ng-model="store"><a href="partials/store.html">Store</a></li>
		</ul>
		</div>
	</nav>
	</div>