
<main role="main" class="main-content container">
	<header>
		<h1>My Cards</h1>
	</header>
      
	<section role="region" class="container" ng-controller="CardsCtrl">

 <div id="cardsNav" class="carousel slide">
    <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="char in chars">
            <img src="{{char.thumbnail.path}}.jpg" class="img-responsive">
        </div>
    </div>
    <a class="left carousel-control" href="#cardsNav" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#cardsNav" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

</section>
</main>

 