<main role="main" class="main-content">
   <div class="container home">
      <head>
         <h1 class="captainBlue h1Tag">About Marvel Cards</h1>
         <h4 class="centerAlign captainGray">Marvel Cards is made by Samuel San Nicolas, Sarah Stanton, 
            Sunho Kim, and Rachel Paresa as a final project for Info 343.
         </h4>
         <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
         <div class="conteneur hidden-sm hidden-xs">
            <br><br><br><br><br><br>
            <div class="circle">
               <div class="point_general point1">
                  <span class="texte">Create an account to keep track of your points and your cards.</span>
               </div>
               <div class="point_general point2">
                  <span class="texte">Choose a custom username and thumbnail so others can find you.</span>
               </div>
               <div class="point_general point3">
                  <span class="texte"> Take pictures as your favorite Marvel characters.</span>
               </div>
               <div class="point_general point4">
                  <span class="texte">Play games to earn points and climb the leaderboard.</span>
               </div>
               <div class="point_general point5">
                  <span class="texte">How do you compare against your friends? Search the leaderboard!</span>
               </div>
               <div class="point_general point6">
                  <span class="texte">The Character Scramble game allows you to rearrange scrambled character names.</span>
               </div>
               <div class="point_general point7">
                  <span class="texte">The Name Guessing game allows you to guess the name of the many superheros.</span>
               </div>
               <div class="point_general point8">
                  <span class="texte">Use the character cards to learn more about the superheros.</span>
               </div>
            </div>
            <br><br><br><br>
         </div>
      </head>
      <br>
      <div class="centerAlign hidden-md hidden-lg hidden-xl">
         <h2 class="captainBlue">Acounts</h2>
         <p>Create an account to keep track of your points and your cards. Choose a custom username and thumbnail that other players can find you with. You can also take a picture as your favorite character, then save that picture to use as your avatar.</p>
         <br>
         <h2 class="captainBlue">Games</h2>
         <p>Play games to earn points and climb the leaderboard. If you win, you can unlock cards which give information about the marvel characters.</p>
         <h3 class="captainRed">Guessing Game</h3>
         <p>Guessing Game is a fill in the blank style game. The user is given a character image and a hint, and based off that hint they guess which character it is. The more guesses it takes, the less points you get.</p>
         <h3 class="captainRed">Character Scramble</h3>
         <p>Character Scramble shuffles the letters in a characters name and, with help from a character image, the user unscrambles the letters. This game gives less points the more guesses it takes.</p>
         <br>
         <h2 class="captainBlue">Leaderboards</h2>
         <p>Playing games and collecting cards is fun, but how do users compare to one another? With leaderboards, users can see which users have the most points and the most cards. They can search all users by their usernames to find specific people or can sort by points and number of cards</p>
         <br>	
         <h2 class="captainBlue">Cards</h2>
         <p>Cards are a way for users to know more about the many Marvel Superheros. Each card contains information about the characer displayed on it.</p>
      </div>
      <br><br>
      <p class='captainGray'>Built on AngularJS with help from LoDash, Bootstrap, and Firebase. Marvel information comes from the Marvel API.</p>
   </div>
</main>
