<main role="main" class="main-content container">
	<div ng-if="loading" aria-describedby="aria-loading" aria-live="polite">
		<p id="aria-loading">Loading the leaderboard!</p>
		<div class="container loading-icon">
			<img src="img/shield.png" class="load" aria-hidden="true" />
			<p>Finding all heroes!</p>
		</div>
	</div>
	<section ng-if="!loading &amp;&amp; users != null">
		<header>
			<h1>Leaderboards</h1>
		</header>
		<!-- Search -->
		<section role="region" class="container">
			<form name="searchForm" class="form-group">
				<div class="input-group">
					<input tpye="text" role="input" placeholder="Search by username" ng-model="searchTerm" class="form-control">
					<span role="search" class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden></i></span>
				</div>
			</form>
		</section>

		<!-- Leaderboards table -->
		<section role="region" class="container" ng-if="!loading" aria-live="polite">
			<table role="grid" class="table table-striped leader-table" role="grid">
				<tr role="row">
					<th><!-- User Thumbnail --></th>
					<th ng-click="order = 'name'">
						<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'name'"></i>Username
					</th>
					<th ng-click="order = 'totalPoints'">
						<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'totalPoints'"></i>Total Points
					</th>
					<th ng-click="order = 'cards.length'">
						<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'cards.length'"></i>Total Cards
					</th>
				</tr>
				<tr ng-repeat="user in users | orderBy:order | filter:searchTerm">
					<td>{{userImg(user.handle)}}</td>
					<td>{{user.handle}}</td>
					<td>{{user.totalPoints}}</td>
					<!-- Use getter/setter -->
					<td>{{utils.keys(user.cards).length}}</td>
				</tr>
			</table>
		</section>
	</section>
	<div ng-if="!loading &amp;&amp; users == null" aria-live="polite">
		<p>There are currently no leading heroes! Play a game to be the first!</p>
	</div>
</main>