<main role="main" class="main-content container">
	<header>
		<h1>Leaderboards</h1>
	</header>

	<!-- Search -->
	<section role="region" class="container">
		<form name="searchForm" class="form-group">
			<div class="input-group">
				<input tpye="text" role="input" placeholder="Search by username" ng-model="search" class="form-control">
				<div class="input-group-btn">
					<button role="search" class="btn btn-default" ng-click="searchFor(search)"><i class="glyphicon glyphicon-search" aria-hidden></i></button>
				</div>
			</div>
		</form>
	</section>

	<!-- Leaderboards table -->
	<section role="region" class="container">
		<table role="grid" class="table table-striped leader-table" role="grid">
			<tr role="row">
				<th><!-- User Thumbnail --></th>
				<th ng-click="order = 'name'">
					<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'name'"></i>Username
				</th>
				<th ng-click="order = 'totalPoints'">
					<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'totalPoints'"></i>Total Points
				</th>
				<th ng-click="order = 'cards.length'">
					<i class="fa fa-caret-down" aria-hidden="true" ng-if="order == 'cards.length'"></i>Total Cards
				</th>
			</tr>
			<tr ng-repeat="user in users | orderBy:order | filter:searchTerm">
				<td>{{user.img}}</td>
				<td>{{user.name}}</td>
				<td>{{user.totalPoints}}</td>
				<td>{{user.cards.length}}</td>
			</tr>
		</table>
	</section>
</main>