
<main role="main" class="main-content container">
	<header>
		<h1>Welcome to the Marvel Store</h1>
	</header>
      	<!-- Search -->
	<section role="region" class="container">
		<form name="searchForm" class="form-group">
			<div class="input-group">
				<input tpye="text" role="input" placeholder="Search by name" ng-model="search" class="form-control">
				<div class="input-group-btn">
					<button role="search" class="btn btn-default" ng-click="searchFor(search)"><i class="glyphicon glyphicon-search" aria-hidden></i></button>
				</div>
			</div>
		</form>
	</section>


	<section role="region" class="container" ng-controller="StoreCtrl">
		<div ng-repeat="card in allChars" class="cardDisplay col-lg-3 col-md-4 col-s-6 col-xs-12">
			<a ui-sref="details( {'id':card.id} )">
            <img src="{{card.thumbnail.path}}.jpg" style="max-width:300px" class="img-responsive">
            <p>{{card.name}}</p>
            </a>
		</div>
        
    </section>
</main>