
<main role="main" class="main-content container">
	<header>
		<h1>Welcome to the Marvel Store</h1>
	</header>
      
	<section role="region" class="container" ng-controller="StoreCtrl">
		<div ng-repeat="card in allChars" class="cardDispla col-lg-3 col-md-4 col-s-6 col-xs-12">
			<a ui-sref="details( {'id':card.id} )">
            <img src="{{card.thumbnail.path}}.jpg" style="max-width:300px" class="img-responsive">
            <p>{{card.name}}</p>
            </a>
		</div>
        
    </section>
</main>