<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marvel Cards</title>

	<!-- Favicon -->
	<link rel="icon" type="image/jpg" href="./img/ironman.jpg">
	<!-- Latest minified bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Custom fonts -->
	<script src="https://use.fontawesome.com/1db56cea2f.js"></script>
	
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
	<script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
	<!-- Angular Fire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
	<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyAqgiO3CzHTAblHMh5nPBOgsUnms8d6G1c",
		authDomain: "info343final-3da5e.firebaseapp.com",
		databaseURL: "https://info343final-3da5e.firebaseio.com",
		storageBucket: "",
	};
	firebase.initializeApp(config);
	</script>
	<!-- LoDash -->
	<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
	<!-- Custom JS -->
	<script src="js/app.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="MarvelCards">

<header class="container-fluid" ng-controller="HomeCtrl">
	<div class="logout" ng-if="userId">
		<span>{{users[userId].handle}}</span>
		<button ng-click="signOut()" class="btn btn-warning">Sign Out</button>
	</div>

	<div class="navbar-wrapper" >
		<nav role="navigation" class="navbar navbar-static-top">
	    		<div class="custom-nav pull-left">
		      		<a class="custom-nav-brand" ui-sref="home">Home</a>
		    	</div>
		    	<div class="custom-nav pull-left">
					<ul class="list-unstyled list-inline">
						<li><a ui-sref="cards">My Cards</a></li>
						<li><a ui-sref="game">Game</a></li>
						<li><a ui-sref="leaderboards">Leaderboards</a></li>
						<li><a ui-sref="account">My Account</a></li>
					</ul>
				</div>
		</nav>
	</div</header>

<div ui-view></div>

</body>
</html>